<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding">
    <ion-input
      label="Testing blur focus"
      label-placement="floating"
      fill="outline"
      type="tel"
      autocomplete="off"
      placeholder=""
      mode="md"
      (ionFocus)="focusEventTriggered('Ionic')"
      (ionBlur)="blurEventTriggered('Ionic')"
    ></ion-input>
  </div>
</ion-content>
